app/index.html
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Siyanda Maphumulo uses Git</title>

    <link rel="stylesheet" href="styles/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Code+Pro:300">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lora:400">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="container">
      <header>
        <h1>Siyanda on Github</h1>
        <h2>& the elsewhere</h2>
      </header>
      <div class="main">
        <div class="social-buttons"><a href="https://github.com/Siyanda/" class="social-button github"><i class="fa fa-github"></i></a><a target="_blank" href="https://twitter.com/maphumulops" class="social-button twitter"><i class="fa fa-twitter"></i></a><a target="_blank" href="https://instagram.com/maphumulops/" class="social-button instagram"><i class="fa fa-instagram"></i></a><a target="_blank" href="https://maphumulo.tumblr.com" class="social-button tumblr"><i class="fa fa-tumblr"></i></a><a target="_blank" href="https://codepen.io/Siyanda/" class="social-button codepen"><i class="fa fa-codepen"></i></a>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Hosted by GithubPages</p>
    </div>
  </body>
</html>

app/index.jade
doctype html
html(lang="en")
 head
  title GitHub Pages
  meta(charset="utf-8")
 body
  #container
    header
      h1 Siyanda on Github
      h2 & the elsewhere
    .main
      .social-buttons
         each name in ['github','twitter','instagram','tumblr','codepen']
            a.social-button( target="_blank" href="#",class=name): i.fa(class="fa-"+name)
  .footer
        p Hosted by GithubPages
